.todo-add {
  margin-top: 30px;
}

.form-control {
  width: 290px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
}

input[type=text]:focus {
  outline: none;
  border-color: #27CCC0;
  box-shadow: none;
}


.todo-list__item {
  position: relative;
  min-height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #f3f3f3;
}

.active:before {
  content:"";
  position: absolute;
  left: -32px;
  top: 0;
  height: 53px;
  border-left: 5px solid #FF2F5A;
}

.todo-list__item > .btn-outline-danger {
  margin-top: 8px;
}

.todo-list__item .todo-list__item-text {
  color: #2B2F3E;
  text-decoration: none;
  display: inline-block;
  max-width: 260px;
  vertical-align: middle;
  font-family: 'Open Sans Semibold', sans-serif;
  cursor: pointer;
  overflow-wrap: break-word;
  position: relative;
}

.todo-list__item-wrapper > .badge {
  margin-left: 30px;
}

.badge-info {
  background-color: #27CCC0;
}

.todo-list__item-wrapper {
  width: 320px;
}

.todo-list__item .btn {
  float: right;
}