.comments-item {
  margin-top: 18px;
  border-bottom: 1px solid #f3f3f3;
}

.comments-item:last-of-type {
  border-bottom: none;
}

.comment-item__text {
  padding-left: 0;
}

.comments-item__avatar, .comments-add__avatar {
  padding: 0;
  margin-bottom: 18px;
}

.comments-item__avatar--img, .comments-add__avatar--img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 6px;
  background: #E6E6E6;
}

.comment-item__text {
  padding-bottom: 23px;
}

.user1.comments-item__avatar--img {
  background-color: #FF8A00;
}

.user2.comments-item__avatar--img {
  background-color: #47568C;
}

.userMain.comments-item__avatar--img {
  background-color: #E6E6E6;
}